.vscode
.theia
__pycache__
venv/
env/

firebase_credential.json


# Pyre type checker
.pyre/

###### Node
# dependencies
*/node_modules
*/.pnp
.pnp.js
.env

# testing
*/coverage

# production
*/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


backend/static/images/hub/*
backend/static/images/nst_get/*
StyleContentModel
tmp
hub
nst_get
notebooks

