.about_mainTitle {
  margin: 48px 0 24px;
}

.about_container {
  margin: 30px 0;
}

.about_img {
  max-height: 300px;
  max-width: 100%;
}

.about_margin_bottom {
  margin: 2rem 0rem;
}

.about_container {
  margin-left: 3rem;
}
